<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Email Service</title>
    </head>
    <body>
        <h4>Here is the full detail:</h4>
        <ol>
            <li><span>Full Name</span><span>{{user.name}}</span></li>
            <li><span>Email Address</span><span>{{user.senderEmail}}</span></li>
            <li><span>Phone Number</span><span>{{user.phoneNumber}}</span></li>
            <li><span>Website</span><span>{{user.website}}</span></li>
            <li><span>Message</span><span>{{user.message}}</span></li>
        </ol>
    </body>
</html>